<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdph.binarymatrix.lwp">

	<uses-feature
		android:name="android.software.live_wallpaper"
		android:required="true"/>
	
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
		
		<!--activity
			android:name=".preference.BinaryMatrixPreference"
			android:exported="true"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.WallpaperSettings"/-->
		
		<service
			android:name=".service.BinaryMatrixService"
			android:enabled="true"
			android:label="Binary Matrix"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action
					android:name="android.service.wallpaper.WallpaperService"/>
			</intent-filter>
			<meta-data
				android:name="android.service.wallpaper"
				android:resource="@xml/lwp_binary_matrix"/>
		</service>
		
    </application>

</manifest>
